<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Exonum Service Launcher</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <strong class="navbar-brand d-flex align-items-center">Exonum service launcher</strong>
        </div>
      </div>
    </header>

    <main role="main">

        <div class="container">
            <div class="row">
                <div class="col">
                {% block content %} {% endblock %}
                </div>
                <div class="col"></div>
            </div>
        </div>

    </main>
</body>
</html>
